/* .price class */
.price {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

/* Hover styles for .carousel */
.carousel:hover .carouselControls {
  opacity: 1;
}

/* .carouselControls class */
.carouselControls {
  transition: opacity 150ms ease;
  opacity: 0;
}

/* .carouselIndicator class */
.carouselIndicator {
  width: 0.25rem; /* Instead of rem(4px) */
  height: 0.25rem; /* Instead of rem(4px) */
  transition: width 250ms ease;
}

/* .carouselIndicator class when it has data-active attribute */
.carouselIndicator[data-active] {
  width: 1rem; /* Instead of rem(16px) */
}