.wrapper {
    min-height: 56.25rem; /* было rem(900px) */
    background-size: cover;
    background-image: url(https://img.freepik.com/free-vector/gradient-lake-scenery_23-2149151146.jpg?w=1380&t=st=1698380695~exp=1698381295~hmac=d273af696696cf85c70349686b243be2b5942e0b3bd0263b3babe3b34fa96549);
  }
  
  .form {
    border-right: 0.0625rem solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7)); /* было rem(1px) */
    min-height: 56.25rem; /* было rem(900px) */
    max-width: 28.125rem; /* было rem(450px) */
    padding-top: 5rem; /* было rem(80px) */
  
    @media (max-width: var(mantine-breakpoint-sm)) {
      max-width: 100%;
    }
  }
  
  .title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-family: Greycliff CF, var(--mantine-font-family);
  }